body {
  padding: 0;
  margin: 0;
}

* {
	font-family: Arial, Helvetica, sans-serif;
}

#top_nav {
	top: 0;
	left: 0;
	height: 50px;
	width: calc(100% - 20px);
	width: -webkit-calc(100% - 20px);
	position: fixed;
	margin: 0;
	padding: 0 10px 0 10px;
	/*
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: grey;
	*/
	z-index: 2;
	background: white/*#fafafa*/;
}

.site_title {
	line-height: 50px;
	text-align: center;
	margin: 0;
	letter-spacing: 5px;
	font-family: 'Emblema One', cursive;
	font-weight: bold;
	background: -webkit-linear-gradient(right, #000000, #d5d5d5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#extend_nav {
	margin: -100vh 0 0 0;
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 3;
	top: 0;
	background: rgba(5,5,5,0.85);
}

#link_area {
	height: 200px;
	margin-top: -webkit-calc((100vh - 200px)/2);
	margin-top: calc((100vh - 200px)/2);
	perspective: 100px;
}

#extend_nav a {
	position: relative;
	display: block;
	text-align: center;
	font-size: 27px;
	color: rgba(255,255,255,0.9);
	text-decoration: none;
	line-height: 50px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	transform-style: preserve-3d;
	transform-origin: 50% 20%;
	cursor: pointer;
	/*background: #eee;*/
}

#extend_nav a:hover {
	/*background: -webkit-linear-gradient(right, rgba(160,160,160,0), rgba(160,160,160,0.1), rgba(160,160,160,0));
	background: radial-gradient(rgba(160,160,160,0.1), rgba(160,160,160,0));*/
	color: rgba(255,255,255,1);
}

#extend_nav a:hover:before{
	position: absolute;
	left: 0px;
	content: "\2022";
	visibility: visible;
}

#content {
	width: 70%;
	margin: 0 auto 0 auto;
	transition: transform 0.3s;
	transition-timing-function: ease-out;
	perspective: 100px;
}

.page {
	position: relative;
	height: 80vh;
	padding-top: 10vh;
	padding-bottom: 10vh;
	transition: transform 0.25s ease-out; /* for shrinking */
}

.page h1 {
	font-size: 50px;
	margin: 10px 0 10px 0;
	line-height: 100%;
}

.page h6 {
	font-size: 20px;
	margin: 10px 5px 10px 5px;
	line-height: 100%;
	font-weight: lighter;
}

.page p {
	margin: 10px 0 10px 0;
	line-height: 100%;
}

.big_picture {
	width: 800px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.image {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#toe .big_picture {
	background-image: url("toe.jpg");
}

#style .image {
	position: absolute;
	top: 40%;
	right: -50px;
    width: 370px;
    height: 250px;
	background-image: url("toe_small.jpg");
}

#style #musical {
	position: absolute;
	top: 35px;
	left: 30px;
	color: #da1919;
}

#style h1 {
	position: absolute;
	top: 53px;
	left: 31px;
}

#style_text_container {
	position: absolute;
	left: 12vw;
    top: 28vh;
	width: 500px;
	height: 300px;
	margin: 0;
}

#style_texts {
	position: absolute;
	left: 50px;
	top: 110px;
}

#style_texts p:nth-child(1){
	color: #888;
	font-size: 18px;
	letter-spacing: 8px;
}

#style_texts p:nth-child(2){
	color: #444;
	font-size: 24px;
	letter-spacing: 2px;
	font-weight: 800;
	margin-left: -8px;
}

#style_texts p:nth-child(3){
	margin-top: -5px;
	color: #fff;
	font-size: 28px;
	letter-spacing: 3px;
	font-weight: 900;
	margin-left: 8px;
}

#style_texts p:nth-child(4){
	position: relative;
	top: -45px;
    left: 220px;
	font-size: 18px;
	letter-spacing: 2px;
}

.page#albums > h1{
	text-align: center;
	margin-top: 50px;
}

#albums_container {
	position: absolute;
	height: 35%;
	bottom: 24.5%;
	width: 86%;
	padding-right: 7%;
	padding-left: 7%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#albums_container .album_img {
	position: relative;
	display: flex;
	height: 250px;
	width: 250px;
	background-position: center;
	background-size: cover;
	background-repeat: repeat;	
}

.album_img h2 {
	z-index: 1;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white;
	opacity: 0;
}

#albums_container .overlay {
	background-color: black;
	opacity: 0;
	width: 100%;
	height: 100%;
	transition: opacity 0.2s;
}

#albums_container > .album_img:nth-child(1){ background-image: url("toe_the_book.jpg") }
#albums_container > .album_img:nth-child(2){ background-image: url("toe_hear_you.jpg") }
#albums_container > .album_img:nth-child(3){ background-image: url("toe_latest_number.jpg") }


#background_block_a{
	position: fixed;
	z-index: -2;
	left: 10px;
	top: 0;
	bottom: 0;
	right: 67%;
	min-width: 200px;
	background-color: #eee;
}

#search_btn {
	float: right;
}

#bar_btn {
	float: left;
	cursor: pointer;
}

#close_btn {
	position: fixed;
	opacity: 0;
	left: 25px;
	top: 15px;
	color: rgba(255,255,255,0.7);	
	cursor: pointer;
}

#close_btn:hover {
	color: rgba(255,255,255,0.95);
}

#top_nav i {
	margin: 15px;
	width: 20px;
	height: 20px;
}

#indicator {
	height: 80px;
	width: 30px;
	position: fixed;
	right: 0;
	top: calc(50vh-50px);
	top: -webkit-calc(50% - 75px);
	/*background: #555;*/
}

.dot_container {
	height: 33.3%;
	width: 100%;
	position: relative;
}

.dot {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 6px;
	height: 6px;
	transform: translate(-50%, -50%);
	background: #cccccc;
	border-radius: 3px;
}

.dot_active {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: calc( 16.66% - 4px); /*set with java script*/
	bottom: calc( 83.33% - 4px);
	width: 8px;
	/*transform: translate(-50%, -50%);*/
	border-radius: 4px;
	background: #323232;
}

.blur {
	filter: blur(8px);
}

.shrink {
	transform: scale(0.9, 0.9);
}

.spin {
	animation-name: spin_animation;
	animation-duration: 1s;
}

.dot_transition{
	animation-name: dot_animation;
	animation-duration: 1s;
}

.shadowed {
	box-shadow: 1px 2px 20px black;
}

@keyframes spin_animation {
	0%   { transform: rotate(0deg); filter: blur(0px);}
	50%  { filter: blur(1px);}
	100% { transform: rotate(360deg); filter: blur(0px);}
}
/*
@-webkit-keyframes spin_animation {
	0%   { transform: rotate(0deg); filter: blur(0px);}
	50%  { filter: blur(1px);}
	100% { transform: rotate(360deg); filter: blur(0px);}
}*/

@keyframes dot_animation {
	0%   { height: 6px;}
	50%  { height: 33%;}
	100% { height: 6px;}
}