body {
	background: url("bg.jpeg");
}

.shadowed {
	box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2),
	-4px -1px 8px 0 rgba(0, 0, 0, 0.15);
}

.bold {
	font-weight: bold;
}

p {
	font-family: 'Noto Serif JP', sans-serif;
	color: #f4fcf6;
}

a:link, a:visited {
	text-decoration: none;
	color: #d6f3db;
}

a:hover, a:active {
	text-decoration: underline;
	color: #d6f3db;
}

#resume_main {
	position: relative;
	height: 500px;
	width: 500px;
	margin: 180px auto 0 auto;
	background-color: #9ae1a6;
	border-radius: 10px;
	
}

div#resume_text{
	position: absolute;
	left: 0;
	right: 0;
	width: 80%;
	margin: 140px auto 20px auto;
}

div#small_text_area {
	margin-left: 10%;
	margin-right: 10%;
}

#small_text_area p{
	font-size: 18px;
	line-height: 1.8;
}

#resume_footer p {
	font-size: 18px;
	line-height: 1;
	text-align: right;
	margin-right: 10%; 
}

#resume_text .header{
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	margin: 0;
}

#resume_text hr {
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, #f0f0f000, #eeeeeebb, #f0f0f000);
}

#resume_footer {
	position: absolute;
	bottom: 0;
	height: 100px;
	width: 100%;
	padding: 0 0px 0 0px;
	text-align: center;
	font-stretch: expanded;
}

#avatar {
	position: absolute;
	border-radius: 50%;
	left: 0;
	right: 0;
	width: 200px;
	height: 200px;
	display: block;
	margin: -80px auto;
}
